/* CookieMatic CSS */

.cookiematic--drop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 19999;
  display: none;
}

.cookiematic--drop.show {
  display: block;
}

.cookiematic--policy {
  box-sizing: border-box;
  background: white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid black;
  z-index: 20000;
  min-width: 480px;
  max-width: 100vw;
  width: 80vw;
  color: black;
  height: 80vh;
  min-height: 640px;
  max-height: 100vh;
  overflow-y: auto;
  padding: 1em 1.5em;
  text-shadow: 0 0 16px black;
}

.cookiematic--policy * {
  color: black;
  text-shadow: none;
}

.cookiematic--banner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid black;
  z-index: 20000;
  width: 100%;
  max-width: clamp(340px, 470px, 90vw);
  background: white;
  color: #141414;
  padding: 8px 16px;
  box-shadow: 0px 0px 16px black;
}

.cookiematic--drop .cookiematic--relative {
  /* position: relative; */
  width: 100%;
  height: 100%;
}

.cookiematic--drop .cookiematic--close {
  position: absolute;
  top: 24px;
  right: 24px;
  font-weight: bold;
  color: #979797;
  font-size: 48px;
  background-color: transparent;
  z-index: 20001;
  cursor: pointer;
  transition: color 100ms ease-in;
}

.cookiematic--drop .cookiematic--close:hover,
.cookiematic--drop .cookiematic--close:focus,
.cookiematic--drop .cookiematic--close:active {
  color: white;
}

.cookiematic--banner h1,
.cookiematic--banner h2,
.cookiematic--banner h3,
.cookiematic--policy h1,
.cookiematic--policy h2,
.cookiematic--policy h3 {
  color: black;
  font-weight: bold;
  text-shadow: none;
  text-align: left;
  text-transform: uppercase;
  line-height: 1.5;
}

.cookiematic--banner h1,
.cookiematic--policy h1 {
  font-size: 26px;
  text-align: center;
}

.cookiematic--banner h2,
.cookiematic--policy h2 {
  font-size: 24px;
  padding-bottom: 0;
}

.cookiematic--banner h3,
.cookiematic--policy h3 {
  font-size: 20px;
}

.cookiematic--policy h1,
.cookiematic--policy h2,
.cookiematic--policy h3 {
  text-align: center;
  margin-top: 1em;
}

.cookiematic--policy ol,
.cookiematic--policy ul {
  list-style-position: outside;
  text-align: left;
  padding: 0.5em 2em;
}

.cookiematic--policy p {
  text-align: left;
}

.cookiematic--policy table td {
  padding: 0.5em 1em;
  margin: 0;
}

.cookiematic--policy table td:nth-child(3) {
  text-align: left;
}

.cookiematic--policy table th {
  border-right: 1px solid #979797;
  padding: 0.5em 1em;
  margin: 0;
}

.cookiematic--policy table tr {
  border-bottom: 1px solid #979797;
}
.cookiematic--policy table thead td {
  font-weight: bold;
}

.cookiematic--banner p {
  color: black;
  text-shadow: none;
  text-align: left;
  padding: 0.5em 0 !important;
}

.cookiematic--banner label {
  display: flex;
  flex-direction: row;
  column-gap: 16px;
  align-items: center;
  justify-content: center;
}

.cookiematic--select {
  position: relative;
  display: inline-block;
  cursor: pointer;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

.cookiematic--select input[type="checkbox"] {
  display: none;
}

.cookiematic--select.disabled {
  cursor: not-allowed;
}

.cookiematic--select .cookiematic--checkbox {
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid #979797;
  display: inline-block;
  width: 24px;
  height: 24px;
  padding: 0 !important;
  transform: scale(1);
  transition: border-color 100ms linear;
}

.cookiematic--banner h2 {
  border-top: 1px solid #979797;
  padding-top: 0.5em;
}

.cookiematic--banner label:hover input:not(:disabled) ~ .cookiematic--checkbox {
  border-color: #141414;
}

.cookiematic--select input:not(:disabled) ~ .cookiematic--checkbox:hover,
.cookiematic--select input:not(:disabled) ~ .cookiematic--checkbox:focus,
.cookiematic--select input:not(:disabled) ~ .cookiematic--checkbox:focus-within,
.cookiematic--select input:not(:disabled) ~ .cookiematic--checkbox:active {
  border-color: #141414;
}

.cookiematic--select input:disabled ~ .cookiematic--checkbox {
  background-color: rgba(0, 0, 0, 0.1);
}

.cookiematic--select .cookiematic--checkbox::after {
  content: "";
  display: none;
  position: absolute;
}

.cookiematic--checkbox::after {
  left: 9px;
  top: 5px;
  border-style: solid;
  border-color: black;
  border-width: 0 3px 3px 0;
  width: 5px;
  height: 10px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.cookiematic--select.disabled .cookiematic--checkbox::after {
  border-color: #979797;
}

.cookiematic--select
  input[type="checkbox"]:checked
  ~ .cookiematic--checkbox::after {
  display: block;
}

.cookiematic--controls {
  margin: 16px 0;
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex: 1 0 0;
}

.cookiematic--button {
  border: 1px solid #979797;
  background-color: white;
  padding: 0.7em 1em;
  transition: border-color 100ms linear;
  cursor: pointer;
  font-size: 14px;
  display: block;
}

.cookiematic--button.cookiematic--accept-all {
  background: #18ad71d0;
}

.cookiematic--button:hover {
  border-color: black;
}

.cookiematic--float {
  position: fixed;
  bottom: 0;
  left: 16px;
  border: 1px solid #676767;
  border-bottom: none;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  padding: 2px 4px;
  color: #676767;
  background: white;
  transition: border-color 100ms linear, color 100ms linear;
  z-index: 19999;
}

.cookiematic--float:hover,
.cookiematic--float:focus,
.cookiematic--float:active {
  border-color: black;
  color: black;
}
